/* Estilos generales */
body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EFF0F5;
  color: #0E1B4D;
  min-height: 100vh; /* Añadir esta línea */
  display: flex;
  flex-direction: column;
/* Barra de navegación */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0E1B4D;
    color: #EFF0F5;
    border-radius: 2%;
  }
  
  .navbar .logo img {
    height: 80px;
  }
  
  .navbar .menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navbar .menu a {
    color: #EFF0F5;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar .menu a:hover {
    text-decoration: underline;
  }
  
  .search-cart-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar .search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .navbar .search-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    position: absolute;
    right: 40px;
  }
  
  .navbar .search-container input[type="text"].active {
    width: 200px;
    opacity: 1;
  }
  
  .navbar .search-container img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .carrito {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .carrito img {
    width: 25px;
    height: 25px;
    color: #EFF0F5;
  }
  
  .carrito h2 {
    margin-left: 10px;
    font-size: 20px;
    color: #EFF0F5;
  }
  
  /* Iconos del menú y cerrar menú */
  .menu-icon, .close-icon {
    display: none;
  }
  
  /* Estilos del submenú */
  .submenu {
    position: relative;
  }
  
  .submenu-content {
    display: none;
    position: absolute;
    background-color: #0E1B4D;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .submenu-content a {
    color: #EFF0F5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .submenu-content a:hover {
    background-color: #1A237E;
  }
  
  .submenu:hover .submenu-content {
    display: block;
  }
  
  /* Ajustes para la versión móvil */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .menu-icon img {
      width: 30px;
      height: 30px;
    }
  
    .logo {
      display: flex;
      justify-content: center;
      flex: 1;
      text-align: center;
    }
  
    .logo img {
      margin: 0 auto;
    }
  
    .menu {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -250px;
      background-color: #0E1B4D;
      width: 250px;
      height: 100%;
      transition: left 0.3s ease;
      z-index: 10;
      padding-top: 20px;
    }
  
    .menu.active {
      left: 0;
    }
  
    .close-icon {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      cursor: pointer;
    }
  
    .close-icon img {
      width: 25px;
      height: 25px;
    }
  
    .search-container {
      display: flex;
      justify-content: flex-end;
    }
  
    .carrito {
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
    }
  
    .search-container input[type="text"] {
      width: 150px;
      opacity: 1;
    }
  
    /* Estilos para el submenú en versión móvil */
    .submenu-content {
      position: relative;
      background-color: #0E1B4D;
      width: 100%;
    }
  
    .submenu-content a {
      padding: 12px;
    }
  
    .menu.active .submenu-content {
      display: block;
    }
  }


}

/* Estilos generales */
body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EFF0F5;
  color: #0E1B4D;
}

.accordion {
  width: 100%; /* ancho del acordeón al 100% del contenedor */
  max-width: 800px; /* ancho máximo para pantallas grandes */
  margin: 20px auto;
  color: #0E1B4D;
}

.accordion-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.accordion-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #0E1B4D;
}

.accordion-button span {
  font-weight: bold;
}

.accordion-button i {
  float: right;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.accordion-button[aria-expanded="true"] i {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: none;
  text-align: justify;
  text-align-last: center;
}

.accordion-item.active .accordion-content {
  display: block;
}

.float-right {
  float: right;
}

/* Añade estilo para los párrafos dentro del acordeón */
.accordion-content p {
  text-align: justify;
  margin: 1em 0;
}

/* Media query para pantallas móviles */
@media (max-width: 600px) {
  .accordion {
      width: 90%; /* ancho del acordeón al 90% del contenedor */
      margin: 20px auto;
  }
}

/* Sección del slider */
.slider, .slider2, .slider3 {
    width: 100vw; /* Ajusta el ancho al 100% de la vista */
    height: auto;
    overflow: hidden;
    background-color: #EFF0F5;
  }
  
  .slide-track, .slide-track2, .slide-track3 {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);
  }
  
  .slide, .slide2, .slide3 {
    width: 200px;
    flex-shrink: 0;
  }
  slide-text3, slide-text2, slide-text {
    width: 100%;
    color: #0E1B4D;
    text-align: center; /* Añadido para centrar el texto */
  }
  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 7));
    }
  }
  /**************
   FOOTER
**************/
.footer {
  background-color: #0E1B4D;
  padding: 20px;
  text-align: center;
  color: #EFF0F5;
  flex-shrink: 0; /* Añadir esta línea */
  width: 100%; /* Asegura que el footer ocupa todo el ancho */
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Añadir esta línea para evitar márgenes no deseados */
}

.footer-menu li {
  display: inline;
  margin: 0 15px;
}

.footer-menu a {
  text-decoration: none;
  color: #EFF0F5;
}

.payment-methods {
  margin-top: 20px;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #EFF0F5;
}


/* Estilos responsive */
@media screen and (max-width: 768px) {
  /* Estilos específicos para el footer en dispositivos móviles */
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-menu li {
    display: block;
    margin: 10px 0;
  }

  .footer-menu a {
    text-align: left;
  }
}